.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 235px 1rem 0.5rem;
    border-bottom: 1px solid #ccc;
    max-width: 60rem;
    position: relative;
}
.errorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10vh;
}
.loader {
    width: 100%;
    display: flex;
    text-align: center;
    padding-top: 10vh;
    justify-content: center;
}
.postItem {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.postItem:hover {
    box-shadow: 0 4px 8px rgba(99, 116, 123, 0.353);
}

.postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 30px;
}

.postTitle {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
}

.postId {
    font-size: 0.9rem;
    color: #888;
}

.postBody {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-bottom: 15px;
}

.postAuthor {
    font-style: italic;
    color: #666;
}

.postActions {
    display: flex;

    gap: 10px;
    margin-top: 15px;
}

.postButton {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.commentButton {
    background-color: #4caf50;
    color: white;
}

.editButton {
    background-color: #2196f3;
    color: white;
}

.deleteButton {
    background-color: #f44336;
    color: white;
}

.favoriteButton {
    background-color: #ffc107;
    color: black;
}

.favoriteCheckbox {
    margin-right: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
}
.active {
    background-color: #52de808d;
}

@media (max-width: 768px) {
    .container {
        padding-top: 300px;
    }
    .postItem {
        padding: 15px;
    }

    .postTitle {
        font-size: 1.2rem;
    }

    .postBody {
        font-size: 0.9rem;
    }

    .postButton {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .postItem {
        padding: 10px;
    }

    .postTitle {
        font-size: 1rem;
    }

    .postBody {
        font-size: 0.8rem;
    }
}
